<div class="row">
  <div class="small-12 medium-4 large-3 columns">
    <span class="fi-list timezone" style="padding: 0;cursor:pointer;font-size: 1.2em;margin-top: 5px;"> Timezone: CET <%= "+" if Time.zone.utc_offset>0 %><%= Time.zone.utc_offset/3600 %> (<%=Time.zone.now.strftime("%H:%M") %>)</span> 

    <span class="timezoneselect" style="display:none; margin-top: 5px; width: 100%;">
      <%= form_tag '/select_time_zone', method: :post, :id => "form" do %> 
     <div class="row">
      <%= time_zone_select :person, :time_zone,nil,{default: cookies[:time_zone] ? cookies[:time_zone] : "UTC"}, { :style => "width: 100%;height: 30px;padding: 0;",onchange: "$('#form').submit();" } %>
    </div>
     <% end %>
    </span>
  </div>

  <div class="large-6 medium-4 small-12 columns" style="text-align: center;">
    <div class="row">
      <div class="small-3 columns small-offset-3">
        <div class="small-6 columns">
          <% if admin_signed_in? %>
            <%= button_to 'Admin page', titles_path, method: :get, class: "button tiny" %>
          <% end %>
        </div>

        <div class="small-3 columns ends">
          <%= link_to 'Home', calendar_path, class: "button tiny" %>
        </div>
      </div>
    </div>
  </div>

  <div class="large-3 medium-4 hide-for-small-only columns ends">
    <% unless admin_signed_in? %>
      <a href="#" class="btnreveal button tiny" style="float:right; font-size: 15px; color: white;">Sign in!</a>
    <% else %>
      <%= link_to 'Sign out!', destroy_admin_session_path, method: :delete, class: "button tiny", style: "float:right;" %>
    <% end %>
    
  </div>
</div>
