<div class="row"> 
  <div class="small-12 columns"> 
    <h1 style="font-weight: bold;"> Recent </h1>
  </div>
</div>

<ul class="small-block-grid-6">
  <% @recent.each do |rec| %>
    <li style="margin: 0 10px;">
        <div class="recent <%= rec.title.name.gsub(' ','')%>rec <%= "shadow" if cookies[:highlight] && cookies[:highlight].split(',').include?(rec.title.name) %>"> 
          <%= image_tag image_path(rec.title.picture)%>  
          <div class="mask"> 
            <a href="#" class="info" title="Full Image">Full Image</a>   
          </div> 
          <div class="numb">
            <p> Season <%= rec.season %> Ep. <%= rec.number %> </p>
          </div>
        </div> 
    </li>
  <% end %>  
</ul>