<div class="row" style="font-size: 6vw; font-weight: 500;white-space: nowrap">
    <div class= "small-1 small-offset-3 columns"> 
      <%= link_to "", "#", class: "fi-arrow-left day prev #{@day}" %> 
    </div>         

    <div class="small-4 columns" >
      <span id='day'><%= @day %></span>, <span id="wday"><%= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][@wday.to_i] %></span> 
    </div>

    <div class= "small-1 end columns"> 
    <%= link_to "", "#", class: "fi-arrow-right day next #{@day}" %>   
    </div>      
</div>

<div class="row">
  <div class="small-12 columns">
    <% (1..Time.days_in_month(@month, @year)).each do |date| %>
    <div class="small-7 columns small-centered <%= date %>" style="height: 50px; <%= "display:none;" if date != @day %>">
      <div class="row">
        <% @eps[date].each_with_index do |ep,index|%>

          <div class="small-12 columns">
            <div class="<%= ep.title.name.gsub(' ','') %> <%= "highlighted" if cookies[:highlight] && cookies[:highlight].split(',').include?(ep.title.name) %>" style="<%= "border-bottom: 1px solid black;" if @eps[@day].size - 1 == index %> <%= set_background(index) %>"> 
              <div id="<%=ep.title.name.gsub(' ','_')%>" class="titlename" style="padding: 5px; border-radius: 5px;" >

                <span id="span" style="font-weight: 700;line-height: 1.5em;"><%= ep.title.name %></span>
                  <%= link_to "","/set_cookies/#{ep.title.name}", remote: true, class: set_icon(ep), title: "Add to favourites", style: "color: white;" %> 
                <span style="line-height: 1.5em; float: right; vertical-align: center;"> Ep: <%= ep.number %> (<%= ep.airdate.strftime("%H:%M") %>)</span>
              </div>
        
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>